<div class="container">
  <h1>Dummy Users</h1>
  <h2>Hello, dummies!</h2>
 </div>
<br>

<div class="index">
Login

<div class="login">
  <form action='/login' method='post'>
    username: <br><input type='text' name='user[username]'><br><br>
    password: <br><input type='password' name='user[password]'><br><br>
    <input type='submit' name='submit' value='Login'>
  </form>
</div>

</div>
