<div class="container">
  <h1>Dummy Users</h1>
  <h2>Hello, dummies!</h2>
 </div>
<br>


<div class="index">
This is not a very secret page



<form action="/logout" >
      <input type="submit" value="Log out">
</form>

</div>