<div class="container">
  <h1>Dummy Users</h1>
  <h2>Hello, dummies!</h2>
 </div>
<br>

<div class="index">
Sign up

<div class="signup">
  <form action='/signup' method='post'>
    First name: <br><input type='text' name='user[firstname]'><br><br>
    Last name: <br><input type='text' name='user[lastname]'><br><br>
    Username: <br><input type='text' name='user[username]'><br><br>
    Password: <br><input type='password' name='user[password]'><br><br>
    Email: <br><input type='email' name='user[email]'><br><br>
    <input type='submit' name='submit' value='Submit'>
  </form>
</div>

</div>

