<div class="container">
  <h1>Dummy Users</h1>
  <h2>Hello, dummies!</h2>
 </div>

<div class="index">
Success!

<p>It does not matter how slowly you go as long as you do not stop.
~Confucius</p>

Login now:

<div class="login">
  <form action='/login' method='post'>
    username: <br><input type='text' name='user[username]'><br><br>
    password: <br><input type='password' name='user[password]'><br><br>
    <input type='submit' name='submit' value='Login'>
  </form>
</div>


</div>


